body {
  background-color: black;
  margin: 0;
  font-family: Menlo, Consolas, "Courier New", Courier, monospace;
  font-size: 14px;
}

html * {
  box-sizing: border-box;
}

.panel {
  display: flex;
  outline: 1px solid #90989F;
  overflow: hidden;
  position: relative;
}

.panel * {
  flex: 1 1 auto;
}

.panel.no-shrink {
  flex-shrink: 0;
}

.panel.no-grow {
  flex-grow: 0;
}

.panel.fixed {
  flex: 0 0 auto;
}

.panel .title {
  flex: 0 0 auto;
  background-color: #90989F;
  background-image: linear-gradient(0deg, #606468, #90989F);
  color: white;
  height: 2em;
  line-height: 1;
  padding: 0.5em;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.screen-panel {
  min-height: calc(200px + 2em);
  flex: 3 3 auto;
}

.bottom-panel {
  min-height: calc(100px + 2em);
  flex: 0 0 200px;
}

.main {
  flex: 3 3 auto;
}

.secondary {
  flex: 1 1 200px;
}

#ui {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  display: flex;
  overflow: hidden;
}


#screen {
  flex: none;
  min-width: 320px;
  min-height: 200px;
  margin: auto auto;
  background-color: black;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#log {
  flex: 1 1 auto;
  min-height: 100px;
  color: white;
  background-color: #303234;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: pre-line;
  font-family: "menlo", "consolas", "courier new", monospace;
  font-size: 10px;
}

#toolbar {
  flex: 0 0 auto;
  background-color: #248;
  line-height: 2;
  text-align: center;
}

#stats {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.75);
  color: white;
  text-shadow: 1px 1px 0 #000000;
}

#cpu {
  background-color: #303234;
  color: white;
}

#cpu table {
  width: 100%;
}

#instructions {
  width: 16em;
}

#cpu table td:nth-child(even) {
  text-align: left;
}
#cpu table td:nth-child(odd) {
  text-align: right;
}

#toolbar button {

}